.wrapper {
	width: 90%;
	border: solid lightgray 1px;
	border-radius: 5px;
	margin: 10px;
	padding-bottom: 20px;
}
p {
	display: inline-block;
	margin: 5px auto;
}
h3 {
	margin: 7px auto;
}
form {
	display: inline-block;
}
.hr {
	margin-left: -40px;
}
.person {
	background-color: lightgray;
	display: inline-block;
	margin-top: 5px;
	width: 150px;
	border-radius: 5px;
	padding: 10px;
}
.personhr {
	margin-top:10px;
}
.btn-primary {
	width: 60px;
}