<!DOCTYPE html>
<!--
======================================================
______    _ _           ______    _     _             
|  ___|  | | |          |  ___|  (_)   | |            
| |_ __ _| | |_ ___ _ __| |_ _ __ _  __| | __ _ _   _ 
|  _/ _` | | __/ _ \ '__|  _| '__| |/ _` |/ _` | | | |
| || (_| | | ||  __/ |  | | | |  | | (_| | (_| | |_| |
\_| \__,_|_|\__\___|_|  \_| |_|  |_|\__,_|\__,_|\__, |
                                                 __/ |
                                                |___/ 
======================================================
Owner Name: Patrick A. Todd
Profile: https://www.github.com/falterfriday
Blog: https://falterfriday.wordpress.com/
Version: 0.2
Description: Never Stop Learning
======================================================
-->
<head>
  <title>Full Friends</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


  <h2>Add a Friend</h2>
  <form action='/friends' method='POST'>
    <label for="first_name">First Name:
        <input type="text" name="first_name" id="first_name" pattern="[A-Za-z]{1,20}" required></label>
    <label for="last_name">Last Name:
        <input type="text" name="last_name" id="last_name" pattern="[A-Za-z]{1,20}" required></label>
    <input type="submit" value="Add">
  </form>
  <hr>
  <h3>Friends:</h3>
  {% for friend in all_friends: %}
     <p>First Name: {{ friend['first_name'] }}</p>
     <p>Last Name: {{ friend['last_name'] }}</p>
     <br>
     <form action='/friends/{{ friend["id"] }}/edit' method='GET'>
       <input type="submit" name="edit" value="edit">
     </form> 
     
     <form action='/friends/{{ friend["id"] }}/delete' method='POST'>
      <input  type="submit" name="delete" value="delete">
     </form>
     <hr>
  {% endfor %}
</body>
</html>